*/.idea
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/pe_test.iml
/.idea/vcs.xml

kinit-api/alembic.ini

kinit-api/application/config/*.py

.prod